# App
PORT=3000
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=7d

# Postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=hkeducan
DB_PASSWORD=password
DB_DATABASE=hkeducan

# S3 / MinIO
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=hkeducan
S3_REGION=us-east-1
